<!DOCTYPE html>
<html>
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGN2BITCOIN - EXCHANGE</title>
    <link rel="stylesheet" href="/tools/asset/css/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/tools/asset/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="/tools/asset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/tools/asset/css/user.css">
    <link rel="stylesheet"  href="/tools/asset/css/main.css">
<!-- GoogleChart javascript sources -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/tools/asset/js/main.js"></script>
<script src="/tools/asset/js/chatJquery.js"></script>
<script src="/tools/asset/js/chartjquery.js"></script>
<script src="/tools/asset/js/ori.4.js"></script>
<script src="/tools/asset/js/kjua-0.1.1.min.js"></script>


  </head>

<body class="w3-display-container" style="background-color: rgb(9, 132, 1);">
    
    <!-- Top Navbar or Menu bar Start-->
        <div class="w3-bar w3-top w3-black w3-large" style="z-index:4" style="color: #fff!important;
        background-color: #206b1e!important;">

            <span id="sidemenu"> <button style="width: 60px; height: 50px" class="w3-bar-item w3-button w3-hover-none w3-teal w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i></button></span>
            <span class="w3-bar-item w3-left"><a href="/">NGN2BITCOIN</a></span> 
            <span id="sidemenu2" style="display: none;"><button style="width: 60px; height: 50px" class="w3-bar-item w3-button w3-hover-none w3-hover-red" onclick="w3_close();"><i class="fa fa-bars"></i></button></span>
        
            {{if .AuthEnabled}} <!-- this means if authentication is enabled for the application-->
                {{if .User}}<!-- and the user session is profiled for the user --> 
                    <!-- Logout link -->
                    {{$Ruser := .User}}
                    <span class="w3-bar-item w3-right w3-hide-small" id="forIndex" >
                        <form method="post" action="{{.LogoutURL}}" style="padding: 0">
                            <span id="udp"><strong>{{$Ruser.Username}}</strong></span>
                            <button class="btn btn-default">Log out</button>
                        </form>
                    </span>    
                {{else}}
                        <!-- Login link -->
                        <span class="w3-bar-item w3-right w3-hide-small" id="forIndex" >
                            <a  onclick="document.getElementById('idlogin').style.display='block'" href=#><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        </span>
                        <!-- Signup link -->
                        <span class="w3-bar-item w3-right w3-hide-small" id="forIndex">
                            <a onclick="document.getElementById('idsignup').style.display='block'" href=#><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                        </span>
                {{end}}       
                <span class="w3-bar-item w3-right w3-hide-small">WITHDRAWAL</span><span class="w3-bar-item w3-right w3-hide-small">DEPOSIT</span><span class="w3-bar-item w3-right w3-hide-small"><a href="/exch/market">BUY/SELL</a></span>
                    <span class="w3-bar-item w3-right w3-hide-small">1 BTC =  ₦<span id="BTCNGN"></span></span>
            {{end}}
        </div>

        {{if .AuthEnabled}} <!-- this means if authentication is enabled for the application-->
        {{$Result := .Msg}}
        <!-- Login Modal Start-->
            <div id="idlogin" class="w3-display-center w3-display-container w3-modal" >  
                <div class="w3-modal-content w3-panel w3-card-4" style="padding: 0 0;">
                    <span onclick="document.getElementById('idlogin').style.display='none'" 
                    class="w3-button w3-display-topright w3-large">&times;</span>
                        <div class="modal-header2" style="padding: 1px 50px;">
                            <h4><span class="glyphicon glyphicon-off"></span> Login</h4>
                        </div>
                    
                        <div class="modal-body2" style="padding:5px 50px;color: #1c1c1c;">
                            <form action="/login" method="post" role="form">
                                <div class="form-group">
                                    <label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
                                    <input name="username" value="{{$Result.Username}}" type="text" class="form-control" id="username" placeholder="Enter Username">
                                </div>
                                <div class="form-group">
                                    <label for="password"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                                    <input name="password" value="{{$Result.Password}}" type="password" class="form-control" id="password" placeholder="Enter password">
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" checked>Remember me</label>
                                </div>
                                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                                    <input type="hidden" name="redirect" value="{{$Result.RedirectURL}}">
                            </form>
                            <p style="display: flex; justify-content: center; padding: 20px 0px 0px;">
                                <a class="btn btn-info" style="color:white; background-color: #286090; text-transform: none;" href="{{.LoginURL}}" role="button">Login with <img src="/tools/asset/img/G_is_For_Google_New_Logo_Thumb.png" style="width: 60px;"></a>
                            </p>
                        </div>
    
                        <div class="modal-footer" style="color: #1c1c1c;">
                            <button type="submit" onclick="document.getElementById('idlogin').style.display='none'" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            <p style="display: flex; justify-content: flex-end;">Not a member? <a id="myLink2" href="#myModal2">Sign Up</a></p>
                            <p style="display: flex; justify-content: flex-end;">Forgot <a id="loginMenu" href="#">Password?</a></p>
                        </div> 
                </div> 
            </div>
        <!-- Login Modal End-->
        <!--Signup Modal Start-->
            <div id="idsignup" class="w3-display-center w3-display-container w3-modal" >  
                <div class="w3-modal-content w3-panel w3-card-4" style="padding: 0 0;">
                    <span onclick="document.getElementById('idsignup').style.display='none'" 
                    class="w3-button w3-display-topright w3-large">&times;</span>
                        <div class="modal-header2" style="padding: 1px 50px;">
                            <h4><span class="glyphicon glyphicon-lock"></span> Sign Up</h4>
                        </div>
    
                        <div class="modal-body2" style="padding:5px 50px;color: #1c1c1c;">
                            <form action="/signup" method="post" role="form">
                                
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <div><input name="firstname" value="{{$Result.Firstname}}" type="text" class="form-control" id="firstname" maxlength="48" placeholder="First Name" /></div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <div><input name="lastname" value="{{$Result.Lastname}}" type="text" class="form-control" id="lastname" maxlength="48" placeholder="Last Name" /></div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <div><input name="email" value="{{$Result.Email}}" type="email" class="form-control" id="email" maxlength="48" placeholder="Email" /></div>
                                </div>
    
                                <div class="form-group">
                                    <label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
                                    <div><input name="username" value="{{$Result.Username}}" type="text" class="form-control" id="username" maxlength="48" placeholder="Username" /></div>
                                </div>
    
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div><input name="password" value="{{$Result.Password}}" type="password" class="form-control" id="password" maxlength="48" placeholder="Password" /></div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="passwordVerify">Verify Password</label>
                                    <div><input name="passwordVerify" value="{{$Result.PasswordVerify}}" type="password" class="form-control" id="passwordVerify" maxlength="48" placeholder="Verify Password" /></div>
                                </div>
                                
                                <input type="submit" value="Create Account" class="btn btn-success btn-block" />
                                <input type="hidden" name="sessionid" value="{{$Result.ID}}">
                            </form>
                            <p style="display: flex; justify-content: center; padding: 20px 0px 0px;">
                                <a class="btn btn-info" style="color:white; background-color: #286090; text-transform: none;" href={{$Result.RedirectURL}} role="button">Or Login with <img src="/tools/asset/img/G_is_For_Google_New_Logo_Thumb.png" style="width: 60px;"></a>
                            </p>
                        </div>
    
                        <div class="modal-footer2" style="color: #1c1c1c;">
                            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            <p style="display: flex; justify-content: flex-end;">Not a member? <a  id="loginMenu" href="#">Sign Up</a></p>
                            <p style="display: flex; justify-content: flex-end;">Forgot <a id="loginMenu" href="#">Password?</a></p>
                        </div>
                </div>
            </div>
        <!--Signup Modal End-->
        {{end}}
    <!-- Top Navbar or Menu bar End-->

    <!-- Sidebar/menu Start-->
        {{template "sidebar" .User}}
    <!-- Sidebar/menu End-->

    <!-- Various Page Contents Each Start--> 
        {{template "body" .Data}}
    <!-- Various Page Contents Each End--> 

    {{$Result := .Msg}}
    {{if $Result.Errors}}
        <div id="idError" class="w3-panel w3-yellow w3-animate-top w3-display-middle" style="position: fixed;">
        <span onclick="document.getElementById('idError').style.display='none'"
        class="w3-button w3-large w3-display-topright">&times;</span>
            {{range $Result.Errors}}
                <h3>Warning!</h3>
                <p>{{.}}</p>
            {{end}}
        </div>
    {{end}}
 
    <section id="cardbox" class="w3-display-bottomright">
        {{template "chat"}}
    </section>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/js/themes/dark-green.js"></script>
</body>
</html>