{{define "chat"}}
<!DOCTYPE html>
<html>
    
    <body>
            
        <div id="Demo" class="chatbox w3-hide">
            <div class="chatlogs" id=cchat>
                   
            </div>
            <form class="chat-form" id="chatmessagebox">
                    <textarea name="message" autofocus></textarea>
                    <button type="submit">send</button>
            </form>
        </div>
        <button id="cardbutton" onclick="myFunction()" class="w3-btn w3-xxlarge w3-dark-grey w3-circle w3-right" title="Chat with us!"><i id="ichat" class="fa fa-comments"></i>
        </button>
    </body>
</html>
{{end}}