{{define "body"}}
<!-- !PAGE CONTENT! -->
<div id="pageContent" class="w3-main " style="margin-left:220px;margin-top:40px; ">

  <!-- ======== Live Chart ======== -->
    <div class="w3-container w3-margin w3-center">
      <!-- Live Chart or Graph Presentation Starts here -->
      <br>
      <div id="container" class="w3-third" style=" width: 100%; font-weight: normal; margin:0 auto; margin-top: 0px; margin-buttom:0px; height: 400px; background-color: transparent;" >
      </div>
      <!-- Live Chart or Graph Presentation Ends here -->
    </div>
  <!-- ======== Live Chart End======== -->

  <!--==== SELLERS / BUYERS LIST ========-->
    <section class="w3-margin-bottom w3-container w3-center" style="background-color: #098401!important;" >  
      <div class="w3-half w3-row-padding w3-container w3-mobile w3-margin-bottom"><!-- Sellers -->    
          <br>
          <h4><strong style="color: #f9ff00;">BTC Sellers</strong></h4>
          <table class="w3-table w3-striped " style="background-color: #396331; color: #f9f67f!important;">
            <tr id="selltable1">
              <td><strong>Ike212</strong> <br> Amount&#58; 0.02016794</td>
              <td><span class="w3-text-green">2,033,136 NGN/BTC</span> Guaranty Trust Bank.</td>
              <td> 10 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Buy</i></td>           
            </tr>
            <tr id="selltable2">
              <td><strong>Chidi1c</strong> <br> Amount&#58; 0.02016794</td>
              <td><span class="w3-text-green">2,035,236 NGN/BTC</span> Guaranty Trust Bank.</td>
              <td> 12 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Buy</i></td>
            </tr>
            <tr id="selltable1">
              <td><strong>Abdulahi1</strong> <br> Amount&#58; 0.02016794</td>
              <td><span class="w3-text-green">2,037,236 NGN/BTC</span> First Bank.</td>
              <td> 08 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Buy</i></td>
            </tr>
            <tr id="selltable2">
              <td><strong>Edo33</strong> <br> Amount&#58; 0.02016794</td>
              <td><span class="w3-text-green">2,032,236 NGN/BTC</span> United Bank for Africa.</td>
              <td>15 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Buy</i></td>
            </tr>
            <tr id="selltable1">
              <td><strong>Tunde3x</strong> <br> Amount&#58; 0.02016794</td>
              <td><span class="w3-text-green">2,031,236 NGN/BTC</span> Guaranty Trust Bank.</td>
              <td>19 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Buy</i></td>
            </tr>
            <tr id="selltable2">
              <td><strong>Tbossman</strong> <br> Amount&#58; 0.02016794</td>
              <td><span class="w3-text-green">2,031,236 NGN/BTC</span> Diamond Bank.</td>           
              <td>05 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Buy</i></td>            
            </tr>
            <tr id="selltable1">
              <td><strong>Ben40</strong> <br> Amount&#58; 0.02016794</td>
              <td><span class="w3-text-green">2,031,236 NGN/BTC</span> Guaranty Trust Bank.</td>
              <td>07 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Buy</i></td>
            </tr>
          </table>
        <!-- End of Sellers --> 
      </div>    
      <div class="w3-half w3-row-padding w3-container w3-mobile w3-margin-bottom"><!-- Buyers -->
        <br>     
        <h4><strong style="color: #f9ff00;">BTC Buyers</strong></h4>
        <table class="w3-table w3-striped" style="background-color: #396331; color: #f9f67f!important;">
          <tr id="selltable1">
            <td><strong>Peter</strong> <br> Amount&#58; 0.02016794</td>
            <td><span class="w3-text-green">2,000,136 NGN/BTC</span> Guaranty Trust Bank.</td>          
            <td>2 mins <br> <i class="w3-button w3-green w3-xsmall w3-round"> Sell</i></td>           
          </tr>
          <tr id="selltable2">
            <td><strong>Kachi1t</strong> <br> Amount&#58; 0.02016794</td>
            <td><span class="w3-text-green">2,000,166 NGN/BTC</span> Guaranty Trust Bank.</td>
            <td>19 mins <br> <i class="w3-button w3-green w3-xsmall w3-round">Sell</i></td>
          </tr>
          <tr id="selltable1">
            <td><strong>Chuks</strong> <br> Amount&#58; 0.02016794</td>
            <td><span class="w3-text-green">2,001,267 NGN/BTC</span> Guarantee Trust Bank.</td>
            <td> 18 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Sell</i></td>
          </tr>
          <tr id="selltable2">
            <td><strong>Nwat3</strong> <br> Amount&#58; 0.02016794</td>
            <td><span class="w3-text-green">2,001,236 NGN/BTC</span> Diamond Bank.</td>           
            <td> 19 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Sell</i></td>
          </tr>
          <tr id="selltable1">
            <td><strong>Amechi345</strong> <br> Amount&#58; 0.02016794</td>
            <td><span class="w3-text-green">2,000,436 NGN/BTC</span> Eco Bank.</td>            
            <td> 16 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Sell</i></td>
          </tr>
          <tr id="selltable2">
            <td><strong>John3d</strong> <br> Amount&#58; 0.02016794</td>
            <td><span class="w3-text-green">2,001,392 NGN/BTC</span> First City Monument Bank.</td>           
            <td> 19 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Sell</i></td>           
          </tr>
          <tr id="selltable1">
            <td><strong>Coolcat2</strong> <br> Amount&#58; 0.02016794</td>
            <td><span class="w3-text-green">2,001,733 NGN/BTC</span> First Bank.</td>
            <td> 19 mins <br><i class="w3-button w3-green w3-xsmall w3-round">Sell</i></td>
          </tr>
        </table><br>
      </div> <!-- End of Buyers --> 
    </section>
  <!--====SELLERS / BUYERS LIST End========-->  
  <hr>
  <div class="w3-container">
    <h5>General Stats</h5>
    <p>New Visitors</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
    </div>

    <p>New Users</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
    </div>

    <p>Bounce Rate</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
    </div>
  </div>
  <hr>
  <div class="w3-container">
      <h5>Countries</h5>
      <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable" style="background-color: #396331; color: #f9f67f!important;">
        <tr>
          <td>United States</td>
          <td>65%</td>
        </tr>
        <tr>
          <td>UK</td>
          <td>15.7%</td>
        </tr>
        <tr>
          <td>Russia</td>
          <td>5.6%</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>2.1%</td>
        </tr>
        <tr>
          <td>India</td>
          <td>1.9%</td>
        </tr>
        <tr>
          <td>France</td>
          <td>1.5%</td>
        </tr>
      </table><br>
    </div>
  <!-- Footer -->
    <footer class="w3-container w3-dark-grey w3-padding-32">
      <div class="w3-row">
        <div class="w3-container w3-third">
          <h2 class=""><span class="w3-text-color-green">N</span>GN2BITCOIN</h2>
          <p>&copy; 2016 - 2017</p>
          <p>Resoledge Nigeria Ltd.</p>
          <p><i class="fa fa-email">info@ngn2bitcoin.com</i></p>
          <p><i class="fa fa-comments"> Live Chat</i></p>
          
        </div>
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-gray">Links</h5>
                  <p>Knowledgebase</p>

          <p>Terms &amp; Conditions</p>
          <p>Privacy</p>
          <p>FAQ</p>
          <p>About</p>
          <p>Contact</p>
        </div>
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-gray">Social</h5>
          <p><i class="fa fa-facebook"> Facebook</i></p>
          <p><i class="fa fa-twitter"> Twitter</i></p>
          <p><i class="fa fa-instagram"> Instagram</i></p>
          <p><i class="fa fa-linkedin"> LinkedIn</i></p>
          
        </div>
      </div>
    </footer>
  <!-- Footer End-->
  <!-- End page content -->
</div>
{{end}}
