{{define "sidebar"}}
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-animate-left" style="width:220px; display:block; color:#f9f8f9!important;
  background-color: #1a4213!important;" id="mySidebar"><br>  
  <div class="w3-container w3-row">
    <div class="w3-col s12" >
      <div class="w3-center">
        <img src="/tools/asset/img/avatar_2y.png" class="w3-circle w3-margin-right" style="width:46px">
      </div><br>
      <div class="w3-center">
        <span><strong>{{.Username}}</strong></span>
      </div><br>
      <div class="w3-center">
        <a href="#" class="w3-button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-button"><i class="fa fa-cog"></i></a>
      </div>
    </div>
  </div>
  <hr>
  <a style="max-width: 56px; float: right;" href="#" class="w3-bar-item w3-display-container w3-button w3-padding-16 w3-red w3-center w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw w3-center"></i></a>
  <div class="w3-bar-block">    
   <a href="" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard fa-fw"></i> DASHBOARD </a>
   <a href="/exch/account" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw"></i> ACCOUNT </a>
   <a href="/exch/market" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bitcoin fa-fw"></i> BUY/SELL BTC </a>
   <a href="/exch/wallet" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-briefcase fa-fw"></i>  BTC WALLET</a>
   <a href="/exch/transactions" class="w3-bar-item w3-button w3-padding"><i class="fa fa-spinner fa-spin"></i>  TRANSACTIONS </a>
   <a href="/exch/support" class="w3-bar-item w3-button w3-padding"><i class="fa fa-support fa-fw"></i>  SUPPORT  </a>
   <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
   <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a>
   
  </div>
</nav>
<!-- Navbar with Only Icons -->

<div class="w3-sidebar w3-bar-block w3-hide-small w3-hide-medium w3-black w3-opacity w3-xlarge w3-hover-orange" style="width:60px; z-index: auto; margin-top:-2px;"><br><br><br>
  
   <a href="" class="w3-bar-item w3-button"><i class="fa fa-dashboard"></i></a> <br>
  <a href="/exch/account" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a> <br>
  <a href="/exch/market" class="w3-bar-item w3-button"><i class="fa fa-bitcoin"></i></a> <br>
  <a href="/exch/wallet" class="w3-bar-item w3-button w3-blue"><i class="fa fa-briefcase"></i></a> <br>
  <a href="/exch/transactions" class="w3-bar-item w3-button"><i class="fa fa-spinner fa-spin"></i></a><br>
  <a href="/exch/support" class="w3-bar-item w3-button"><i class="fa fa-support fa-fw "></i></a> <br>
</div>
<script>
  // Toggle between showing and hiding the sidebar, and add overlay effect
	function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
		document.getElementById("sidemenu").style.display = "none";
		document.getElementById("sidemenu2").style.display = "block";
		document.getElementById("mySidebar").style.width = "220px";
    document.getElementById("pageContent").style.marginLeft = "220px";
  }	
  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("sidemenu").style.display = "block";
    document.getElementById("sidemenu2").style.display = "none";
    document.getElementById("pageContent").style.marginLeft = "60px";
  }
</script>
{{end}}