{{define "body"}}
<!-- !WALLET PAGE CONTENT! -->
<div id="pageContent" class="w3-main " style="margin-left:60px;margin-top:40px; background-color: #d5daef">

 
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <marquee behavior="" direction=""><h5>Current Bitcoin Price &#8358; 2,651,977.93</h5></marquee>
  </header>
  <!-- End of Header -->
  
 <!-- Sidebar/menu -->



<!-- Balance -->

 <section class="w3-margin w3-container">
   
<!--   BTC WALLET DEPOSIT-->
    <div class="w3-half w3-row w3-padding-16 w3-container w3-margin-10">
     <div class="w3-container w3-white w3-border w3-padding-16">
       <h3 class="w3-center">BTC WALLET DEPOSIT</h3><hr>
        <div class="w3-half w3-right"><img class="w3-right" src="assets/img/bitcoin-2136339_640.png" alt=""></div>
        <div class="w3-left w3-half">
          <h3>Network Fees</h3>
          <h3><i class="fa fa-bitcoin">0.0004</i></h3>
        </div><br><br>
        <div class="w3-clear">
        <h3>Minimum Deposit Amount</h3>
        <h3><i class="fa fa-bitcoin">0.0009</i></h3><br></div>
       
       	 <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round-small w3-green">Deposit
        	
        </button>
					<!----MODAL POP UP FOR BTC WALLET DEPOSIT ----->
			<div id="id01" class="w3-modal w3-margin">
				<div class="w3-modal-content w3-animate-top w3-card-4">
					<header class="w3-container w3-teal"> 
						<span onclick="document.getElementById('id01').style.display='none'" 
						class="w3-button w3-display-topright">&times;</span>
						<h3 class="w3-center">Deposit Bitcoin</h3><br><p class="w3-center">Minimum Deposit Amount&#58; <i class="fa fa-bitcoin">0.0009</i> </p>
					</header>
					

					<div class="w3-container w3-margin">
        <ul class="w3-ul w3-border w3-white w3-center w3-mobile">
        
				  <li style="width: auto" class="w3-padding-8 w3-mobile"><input style="width: 320px" type="text" value="15PiHsSMMVrV5bpe28uHrY1E25pYTWWBWu" id="myInput">
</li> 
			  <li><button id="copy" onclick="myFunction()">Copy Address</button></li>         
				  <li class="w3-padding-8">
					<img class="w3-mobile" src="assets/img/barcode.PNG" alt="">            
				  </li>
				  <li class="w3-light-grey">
					<button class="w3-button w3-teal w3-padding-large w3-hover-black">Generate New Address</button>
				  </li>
				</ul>
      </div>
    
				</div>
			</div><!----End of Modal Pop up  ------>
        
      </div>

    </div>
       
<!--   BTC WALLET WITHDRAWAL    -->
       
        <div class="w3-half w3-row w3-padding-16 w3-container w3-margin-10">
     <div class="w3-container w3-white w3-border w3-padding-16">
       <h3 class="w3-center">BTC WALLET WITHDRAW</h3><hr>
        <div class="w3-half w3-right"><img class="w3-right" src="assets/img/bitcoin-2136339_640.png" alt=""></div>
        <div class="w3-left w3-half">
          <h3>Balance</h3>
          <h3>BTC 0.0000000</h3>
        </div><br><br>
        <div class="w3-clear">
        <h3>Available</h3>
        <h3>BTC 0.0000000</h3><br></div>
       
       	 <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-round-small w3-green">Withdrawal
        	
        </button>
					<!----MODAL POP UP FOR BTC WALLET WITHDRAWAL ----->
			<div id="id02" class="w3-modal w3-margin">
				<div class="w3-modal-content w3-animate-top w3-card-4">
					<header class="w3-container w3-teal"> 
						<span onclick="document.getElementById('id02').style.display='none'" 
						class="w3-button w3-display-topright">&times;</span>
						<h3 class="w3-center">Withdraw Bitcoin</h3><br><p class="w3-center">Maximum Withdrawal Amount&#58; <i class="fa fa-bitcoin">0.0000000</i> </p>
					</header>
					

					<div class="w3-center">Available Balance</div>
					<h4 class="w3-center w3-panel w3-teal">BTC 0.0000000</h4>

				 	<div class=" w3-center">Bitcoin Address</div>
					<div class="w3-center">
					  <input class="w3-input w3-border" name="last" type="text" placeholder="">
					</div><br>

					<div class=" w3-center">Bitcoin Amount</div>
					<div class="w3-center">
					  <input class="w3-input w3-border" name="last" type="text" placeholder="">
					</div>

						 <p class="w3-center"><button class="w3-button w3-center w3-green w3-round">Submit</button></p>
					  <footer class="w3-container w3-teal">
						<p class="w3-center">Network fee&#58; <i class="fa fa-bitcoin">0.0004</i></p>
					  </footer>
				</div>
			</div><!----End of Modal Pop up  ------>
        
      </div>
    </div>

   </section>
    
      
  
  
<!-- End of Balance -->
    
  <br>
  
<!--  Footer Arear -->
 
  <footer class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h2 class=""><span class="w3-text-color-green">N</span>GN2BITCOIN</h2>
        <p>&copy; 2016 - 2017</p>
        <p>Resoledge Nigeria Ltd.</p>
        <p><i class="fa fa-email">info@ngn2bitcoin.com</i></p>
        <p><i class="fa fa-comments"> Live Chat</i></p>
        
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-gray">Links</h5>
                <p>Knowledgebase</p>

        <p>Terms &amp; Conditions</p>
        <p>Privacy</p>
        <p>FAQ</p>
        <p>About</p>
        <p>Contact</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-gray">Social</h5>
        <p><i class="fa fa-facebook"> Facebook</i></p>
        <p><i class="fa fa-twitter"> Twitter</i></p>
        <p><i class="fa fa-instagram"> Instagram</i></p>
        <p><i class="fa fa-linkedin"> LinkedIn</i></p>
        
      </div>
    </div>
  </footer>

  
  
  <!--  End of Footer Arear -->
  

  <!-- End page content -->

</div>
<script>
// Toggle between showing and hiding the sidebar, and add overlay effect
	function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
		 document.getElementById("sidemenu").style.display = "none";
		document.getElementById("sidemenu2").style.display = "block";
		
		
		document.getElementById("mySidebar").style.width = "220px";
    document.getElementById("pageContent").style.marginLeft = "220px";
}
	w3_open()
	
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
	document.getElementById("sidemenu").style.display = "block";
	document.getElementById("sidemenu2").style.display = "none";
	document.getElementById("pageContent").style.marginLeft = "60px";
}
	
	
	
//// Copy text with the click of the button
function myFunction() {
		 var copyText = document.getElementById("myInput");
		 copyText.select();
		document.execCommand("Copy");
		 alert("Copied the Wallet Address: " + copyText.value);
	}
</script>
</body>
</html>
